/*Global*/
html {
    background-color: #fbfef9;
   margin: 0;
}

.full {
    width: 100%;
}

.wrapper {
    width: 82%;
    margin: 0 auto
   
   
}
/*Header*/
header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 1rem;
}

#header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    width: 10%;
    height: auto;
}


