/*GLobal*/
* {
    font-size: 16px;
    font-family: "Proxima Light", Arial, sans-serif;  
}

main {
    background-color:#FAAE85;
}


/*Header and Footer*/
header, footer {
    display: flex;
    background-color: #BAA091;
}
