/*Global*/
html {
    background-color: #fbfef9;
   margin: 0;
   font-size: 16px;
}

.full {
    width: 100%;
}

.wrapper {
    width: 82%;
    margin: 0 auto
   
   
}
/*Header*/

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#logo {
    font-family: "gelato-luxe", sans-serif;
    font-weight: 200;
    color: #e71d36;
    font-size: 2.5rem;
}

/* Nav Links */


nav ul {
    display: flex;
    list-style: none;
  
   
}

#anchor-item {
    padding-left: 2rem;
}

#anchor-link {
    text-decoration: none;
    font-family: "mae-variable", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
  
   

   
    

    
}

